body {
    margin: 0;
    overflow: hidden;
    background: #0f172a; /* Темный глубокий фон, как ночное небо в горах */
}

#canvas-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
